.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.flexCenter {
	margin: auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
}

a {
	text-decoration: none;
}

ul {
	padding-inline-start: 0px;
	list-style: none;
}

.nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}
.nav ul li {
	padding: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

section {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}

input {
	line-height: 5px;
	padding: 10px;
	margin: 10px auto;
}

button {
	padding: 8px 15px;
	background: #fff;
	text-transform: uppercase;
	margin: 10px auto;
	border-radius: 5px;
}

.list {
	text-align: center;
	width: 500px;
	box-shadow: 5px 5px 15px rgba(139, 94, 94, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.2);
	padding: 20px;
	border-radius: 7px;
}

.list li {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px dashed rgba(0,0,0,0.2);
}
